.about{
	min-height: 870px;
	margin: 0 auto;
}

.about_content{
	display: grid;
	grid-template-columns: 2fr 1.5fr;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.about_content{	
		grid-template-columns: 1fr;
   }

   .about_bottom_img_block{
	align-self: center;
   }

   .about_icons_subheader{
	text-align: center;
   }
}

@media screen and (min-width: 1400px) {
	.main_header{
		font-size: 28px !important;
	}

	.about_subheader{
		font-size: 24px !important;
		margin: 30px 0 !important;
	}

	.about_description, .about_icons_subheader {
		font-size: 20px !important;
	}

	.about_btn{
		font-size: 16px;
	}

	.about_icons_description{
		font-size: 18px !important;
		line-height: 1.5;
		padding-bottom: 20px;
	}
	
}

.about_content_left{
	padding: 50px;
	font-size: 16px;

}

.about_img_block{
	width: 100%;
	height: 100%;
}

.about_img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	animation-name: img;
	animation-duration: 3s;
}

.main_header{
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
	margin: 30px 0;
}

.about_subheader{
	display: flex;
	margin: 20px auto;
	font-size: 16px;
}

.green_subheader{
  color: #5fa618;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.bold_subheader{
	font-weight: bold;
	 letter-spacing: 0.5px;
}

.about_description{
	color: #535353;
	margin-bottom: 20px;
	line-height: 1.6;
}

.about_btn{
	padding: 10px 20px;
	border: 1px solid #656565;
	border-radius: 20px;
	outline: none;
	background: none;
	color: #656565;
	font-weight: 600;
	margin: 20px 0;
	transition: all 0.3s ease-in;
}

.about_btn:hover{
	scale: 1.05 ;
	border:1px solid #5fa618;
	background: #5fa618;
	color: white;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);

}

.about_content_bottom{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
}

.about_bottom_item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	width: 20%;
	min-width: 300px;
}

.about_bottom_item div{
	margin: 10px;
}

.about_bottom_img_block{
	padding: 20px;
	border-radius: 50px;
	background: #F8F8F8;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	
}

.about_icons_subheader{
	font-weight: bold;
	margin: 20px 10px !important;
}

.about_icon{
	height: 35px;
	width: 35px;
}