
.v_req_img_block{
    background: #15141d;
    width: 100%;
}

.v_req_img{
    width: 100%;
}

.v_req_text{
	background: #15141d;
	padding: 40px ;
	color: rgb(183, 184, 185);
}

@media screen and (max-width: 685px) and (min-width: 550px){

    .v_req_img_block{
        height: 100%;
    }
    .req_form_subtitle{
        flex-wrap: wrap;
        text-align: center;
        font-size: 12px;

    }
    .vincode_input{
        margin: 5px;
    }
    .v_req_img{
        height: 100%;
    }
    .v_req_text{
        padding: 20px;
    }

    .req_form_title{
        font-size: 20px;
    }

    .v_req_form_text{
        top: 50px !important;
    }
}


@media screen and (max-width: 550px) {

    .v_req_img_block{
        height: 100%;
    }
    .req_form_subtitle{
        flex-wrap: wrap;
        text-align: center;
        font-size: 10px;

    }
    .vincode_input{
        margin: 5px auto;
        width: 200px !important;
    }
    .v_req_img{
        height: 400px;
        object-fit: cover;
    }
    .v_req_text{
        padding: 20px;
    }

    .req_form_title{
        font-size: 14px;
    }

    .v_req_form_text{
        top: 0px !important;
    }
}



.v_req_header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

.v_req_header .header{
	background: none;
}
.v_req_text div{
	margin: 15px;
	line-height: 1.5;
}

.v_req_form{
	position: relative;
}

.v_req_form_text{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.req_form_title{
	color: white;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 3px;
	display: flex;
	line-height: 0.8;
	
}

.green{
	color: #5fa618;
	margin-left: 10px;
}

.req_form_subtitle{
	color: whitesmoke;
	letter-spacing: 1px;
	margin: 25px auto;
	line-height: 0.8;
}

.vincode_input{
	background: whitesmoke;
	width: 400px;
	color: #15141d;
}

.req_form_btn{
	background: none;
	padding: 10px 30px;
	outline: none;
	border: 1px solid #5fa618;
	border-radius: 20px;
	color: #5fa618;
	margin: 15px;
	font-size: 12px;
	letter-spacing: 0.5px;
	transition: all 0.3s ease-in;
}

.req_form_btn:hover{
	background: #5fa618;
	color: whitesmoke;
}

@media only screen and (min-width: 1400px ){
    .req_form_title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .req_form_subtitle{
        font-size: 24px;
        margin: 30px auto!important;
    }

    .req_form_input{
        font-size: 22px !important;
    }

    .req_form_btn{
        font-size: 18px;
    }

    .v_req_text{
         font-size: 22px;
    }

    
}

