.premium{
	position: relative;
	height: 800px;
	background: rgb(164,167,173);
    background: linear-gradient(139deg, rgba(164,167,173,1) 0%, rgba(50,53,59,1) 100%);
}

.premium_img_block{
	width: 800px;
	height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
	margin-left: -250px;
}

.premium_img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 1;
}

.premium_img1{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	z-index: 0;
}


@media screen and (max-width: 800px){
	.premium_img_block{
		height: 350px;
	}
}

@media screen and (max-width: 600px){
	.premium_img_block{
		height: 450px;
	}

	
	.premium_text_block{
	 width: 30%;
	}
}

@media screen and (max-width: 940px){
	.premium{
		display: grid !important;
		grid-template-columns: 1fr !important;
		height: 100%;
	}

	.text_wrapper{
        background: linear-gradient(139deg, rgba(131,133,138,1) 0%, rgba(50,53,59,1) 100%);
	}

	.premium_text_block{
		position: relative !important;
		width: 75% !important;
		margin: 50px auto;
		font-size: 16px;
		top: 0 !important;
		right: 0 !important;
   }

	.premium_header{
       font-size: 26px !important;
	}		
}

@media screen and (min-width: 1500px) {

	.premium_text_block{
		width: 50% !important;
	}
	.premium_header {
       font-size: 28px !important;
	}	

	.premium_description, .premium_subheader{
		font-size: 20px;
	}
}



.premium_text_block{
	position: absolute;
	width: 45%;
	right: 30px;
	top: 20%;
	z-index: 1;
	color: #e0e0e0;
	
}

.premium_header{
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 30px 0;
}

.premium_subheader{
	margin: 30px 0;
	font-weight: 600;
	letter-spacing: 0.5;
}

.premium_description{
	line-height: 1.6;
	letter-spacing: 0.5;
}