.car{
	width: 100%;
	min-height: 500px;
	height: 800px;
	background-image: url('/src/images/car.svg');
	

	 background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.car_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

