.animation{
	height: 600px;
	width: 100%;
	background: url('/public/assets/road.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.animated_car{
	width: 550px;
	height: 450px;
	object-fit: contain;
	animation-name: car;
	animation-duration: 1s;
	transition: all 0.2s ease-in-out;
	position: absolute;
	top: 200px;
	left: 0;
}

@keyframes car{
  0%   {opacity: 1;}
  /* 50% {scale: 1.03; transition: 'all 0.1s ease-in'} */
  50% { background: 'red'; opacity: 0;}
  100% {  opacity: 1; ;}
}


/* @keyframes car{
  0%   {left:0%; position: relative;}
  /* 50% {scale: 1.03; transition: 'all 0.1s ease-in'} */
  /* 70% { left:1000%; position: relative;}
} */

.driving_car{
	width: 200px;
	height: 150px;

}



