.car_details{
	
}

.car_slider{
	background: #15141d;
	height: 550px;

	
}

.car_details_dark{
	background: #15141d;
}



.car_slider .carousel .thumbs-wrapper{
	display: flex;
	justify-content: flex-end;
}

.car_slider .carousel .thumb{
	width: 120px !important;
	margin: 10px;
}

.similar_cars{
	display: grid;
    gap: 2rem;
	width:85%;
	margin: 30px auto;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));

}

.similars_header{
	width: 81%;
	margin: 30px auto;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
}

.car_params{
	width: 90%;
	display: grid;
	color: rgba(161, 161, 161, 1);
	font-size: 16px;	
	margin: 80px auto !important;
	justify-content: space-around;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
	justify-content: center;
}

@media screen and (max-width: 1050px) and (min-width: 601px){
	.car_params{
		grid-template-columns: 1fr;
		gap: 0;
		
	}
	.car_params_item{
		margin: 0 auto;
	}
}

@media screen and (max-width: 600px) {
	.car_params{
		grid-template-columns: 1fr;
		gap: 0;

		
	}
	.car_params_item{
		margin: 0 auto;
		font-size: 13px;
		letter-spacing: 0.5px;
		width: 90% !important;
		margin: 10px auto  !important;
	}

	.params_title{
		font-weight: 500;
       letter-spacing: 0.5px !important;
	   display: grid;
	   grid-template-columns: 1fr 1fr;
	   
	}

	.params_value{
		text-align: right;
	}

	.car_details_description{
		margin: 0 auto !important;
		font-size: 14px;
		width: 85% !important;
	}
}

@media screen and (max-width: 1400px){
	.car_details_header{
      margin: 0px auto !important;
	  padding: 20px;
	}

	.car_header_block{
		display: flex;
		flex-direction: column;
		margin: 10px auto;
		justify-content: flex-start;
		width: 90% !important;
	}

	.order_btn{
		align-self: flex-start;
		margin: 10px 0;
	}

	.car_details_price {
		align-self: flex-start;
		margin: 10px 0;
	}

	.car_details_note1{
		align-self: flex-start;
		margin: 10px 0;
	}
	.car_details_note2{
		width: 90% !important;
		margin: 10px 0;
	}
}

.car_params_item{
	display: flex;
	margin: 15px auto;
	justify-content: space-between;
	width: 75%;
}

.params_title{
	font-weight: 600;
	letter-spacing: 2px;
}

.car_details_description{
	/* background: #15141d; */
	width: 90%;
	color: rgba(161, 161, 161, 1);
	margin: 40px auto;
	line-height: 1.5;
	padding: 30px;
	font-size: 18px;
	letter-spacing: 0.5px;

}

.car_details_title{
	font-size: 34px;
	color: #FFF;
	font-weight: 800;
	letter-spacing: 1px; 
	padding: 30px 0;

}

.car_details_header{
	margin: -170px 0 50px 100px;


}

.car_header_block{
	width: 40%;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}

.car_details_price{
	font-size: 24px;
	color:  rgba(107, 193, 64, 1);
	font-weight: bold;
}
.car_details_note1{
	width: 250px;
	color: rgba(119, 119, 119, 1);
}

.car_details_note2{
	color: rgba(119, 119, 119, 1);
	margin: 10px 15px;
}

.order_btn{
	background: white;
	padding: 10px 25px;
	border-radius: 10px;
	border: none;
	outline: none;
	color: rgba(26, 26, 31, 1);
	font-weight: 600;
}