.header{
	width: 100%;
	height: 80px;
	background: #15141d;;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 550px){
	.logo{
	margin: 0 20px !important;
	height: 65px !important;
	width: 130px !important;

	
}
}

.logo{
	margin: 0 50px;
	height: 80px;
	width: 150px;
	
}

.logo_img{
  height: 100%;
  width: 140%;
  object-fit: contain;
}

.line{
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: right;
	flex-direction: column;
	margin-right: 35px;
	text-align: right;
}

.line1{
	height: 10px;
	border-bottom: 1px solid white;
	
}

.line2{
	width: 55%;
	height: 10px;
	border-bottom: 1px solid white;
	align-self: flex-end;
}
.line3{
	text-align: right;
	width: 75%;
	height: 10px;
	border-bottom: 1px solid white;
	align-self: flex-end;
}

.car_tracker_menu{
    color: #6B9640;
    margin-right: 30px;
    padding: 5px 0;
    letter-spacing: 1px;
    border-bottom: 1px solid #6B9640;
    font-size: 11px;
    line-height: 0.8;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.car_tracker_menu:hover{
    color: whitesmoke;
    scale: 1.03;
}