.footer{
	position: relative;

}

@media only screen and (max-width: 900px) {
	.footer_content{
		display: grid !important;
		grid-template-columns: 1fr !important;
		gap: 1rem;
	}

	.footer_text_block{
		top: 0px !important;
	}

	textarea{
		height: 50px !important;
	}

	.footer_img_block{
		height: 900px !important;
	}
}



.footer_img_block{
	width: 100%;
	height: 670px;
	z-index: 0;
}

.footer_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bottom_footer{
	height: 80px;
	background: #15141d;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #d7d5d5;
	text-align: center;
	font-size: 12px;
}

.bottom_footer div{
	margin: 5px;
}

.footer_header{
  font-size: 22px;
  letter-spacing: 1;
  margin: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  line-height: 0.8;
}

.footer_text_block{
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0;
	color: #faf6f6;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	
}

.footer_content{
	width: 80%;
	display: grid;
	margin: 0 auto;
	justify-content: center;
	grid-template-columns: 1fr 2fr;
}

.footer_contacts{
	padding: 20px;
}

.footer_form{
	display: flex;
	flex-direction: column;
}

.footer_form input, textarea{
	font-size: 16px;
}

.contacts_header{
	margin: 20px !important;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;

}

.footer_contacts div{
  margin: 10px;
}

.contact_item{
	margin: 25px 10px !important;
	letter-spacing: 0.5px;
}

input{
	background: none;
	margin: 20px;
	border: none;
	border-bottom: 1px solid #faf6f6;;
	outline: none;
	padding: 10px;
	color: #d7d5d5;
}

textarea{
	padding: 20px;
	margin: 20px;
	background: none;
	height: 100px;
	outline: none;
	color:#d7d5d5;
	border: 1px solid #d7d5d5;
}

.submit_btn{
	padding: 10px 20px;
	border: 1px solid #5fa618;
	color: #5fa618;
	border-radius: 15px;
	outline: none;
	background: none;
	width: 120px;
	display: flex;
	align-self: flex-end;
	margin-right: 20px;
	transition: all 0.3s ease-in;
}

.submit_btn:hover{
	background: #5fa618;
	color: white;
	scale: 1.07;
}

.social_networks_icons{
	display: flex;

}

.social_networks_icons .network_icon{
	transition: all 0.3s ease-in;
	margin: 10px;
}

.social_networks_icons .network_icon:hover{
  scale: 1.4;
  color: #5fa618;
}

@media screen and (min-width: 1500px) {
	.footer_header{
		font-size: 28px;
	}

	.contacts_header{
		font-size: 22px;
	}

	.contact_item{
		font-size: 20px;
	}

	.network_icon{
		font-size: 20px;
	}

	.bottom_footer{
		font-size:15px ;
	}

	.footer_form input, .footer_form textarea{
		font-size: 18px !important;
	}
}

