.testimonials_wrapper{
	 background: rgba(245, 245, 245, 1);
	padding-bottom: 60px;
}

.testimonials_header{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding: 60px 0px 20px 0px;
	letter-spacing: 1px;
}

.testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin: 0px auto;

}
.testimonial{
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 475px;
	background: white;
	padding: 20px;
	margin: 20px;
	align-items: center;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
	transition: all 0.3s ease-in;
}

@media only screen and (max-width: 550px){
	.testimonial{
	 grid-template-columns: 1fr;
	}

	.testimonial_img_block{
		margin: 10px auto !important;
	}
}


.testimonial:hover{
  scale: 1.02;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
-moz-box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
}

.testimonial_img_block{
  margin: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.testimonial_img{
	width: 100%;
	height: 100%;
	  border-radius: 50%;
	object-fit: cover;
	
}

.testimonial_text{
	margin: 10px 15px;
}

.testimonial_name{
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.testimonial_position{
	font-size: 12px;
	font-style: italic;
	margin: 10px 0;
}

.testimonial_description{
	font-size: 12px;
	letter-spacing: 0.5px;
}

@media screen and (min-width: 1500px) {

	.testimonial{
		width: 550px;
	}
	.testimonial_name{
		font-size: 18px;
	}

	.testimonial_position{
		font-size: 15px;
	}

	.testimonial_description{
		font-size: 15px;
		line-height: 1.5;
	}
}