.testimonials_wrapper{
	 background: rgba(245, 245, 245, 1);
;
}

.testimonials_header{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	padding: 40px 0;
	letter-spacing: 1px;
}

.testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin:  20px auto;

}
.testimonial{
	display: flex;
	width: 475px;
	background: white;
	padding: 20px;
	margin: 20px;
	align-items: center;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
transition: all 0.3s ease-in;
}
.testimonial:hover{
  scale: 1.02;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
-moz-box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
box-shadow: 0px 5px 10px 2px rgba(7, 8, 9, 0.21);
}
.testimonial_img_block{
  margin: 10px;
}

.testimonial_text{
	margin: 10px 15px;
}

.testimonial_name{
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.5px;
}

.testimonial_position{
	font-size: 12px;
	font-style: italic;
	margin: 10px 0;
}

.testimonial_description{
	font-size: 12px;
	letter-spacing: 0.5px;
}