.slider{
	position: relative;
	height: 500px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 50px;
	font-weight: 400;
	z-index: 2;
}

.slider_wrapper{
		display: grid;
	   grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 1000px) {
	.slider{
		height: 100%;
	}
	.slider_wrapper{
		display: grid;
		grid-template-columns: 1fr;
    }

	.left_block{
		display: flex;
		justify-content: space-between;
	}

	
}

.slider{
	background: radial-gradient(circle, rgba(43,41,57,1) 0%, rgba(21,20,29,1) 35%, rgba(21,20,29,1) 100%);
}

.slider_text{
	font-size: 12px;
	width: 250px;
	margin: 20px 0;
	line-height: 1.5;
}

.slider_button{
  border-radius: 20px;
  background: none;
  outline: none;
  color:#6B9640;
  border: 1px solid #6B9640;
  padding: 10px 25px;
  font-size: 12px;
  margin: 30px 0;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
  animation-name: button;
  animation-duration: 3s;
}

.slider_button:hover{
	background: #6B9640;
	color: white;
	scale: 1.05;

}

.left_block{
	z-index: 2;
	padding-top: 50px;
	padding-left: 20px;
}
.right_block{
	display: flex;
	align-items: flex-end;
}

.carousel{
	position: relative;
	height: 400px;
}

.slider_img_block{
	height: 400px;
	width: 100%;
	padding-bottom: 50px;
	background: none;
	
}
.carousel .slider.animated{
   background: none;
}

.slider_img{
	height: 100%;
	width: 100%;
	background: none;
	object-fit: contain;
	filter: drop-shadow(-14px 32px 20px #a7a5a5);
}

.carousel .control-dots{
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
	position: absolute;
	bottom: 10px !important;
	left: 0px;
	z-index: 3 !important;
}

 .carousel .slider-wrapper .slider.animated{
	 /* background: none !important;  */
	 background: none;
	}

.carousel .control-dots .dot.selected{
	background: #6B9640!important;
}

.carousel .control-dots .dot {
	background: #FFFFFF!important;
	opacity: 1 !important;
}

.intermotors{
	position: absolute;
	font-size: 6rem;
	font-weight: bold;
	letter-spacing: 10px;
	z-index: 1;
	color: #42414b;
	opacity: 0.3;
	top: 20px;
	left: 30px;
	line-height: 155px;
	width: 90%;
	animation-name: intermotors;
	animation-duration: 4s;
	
}

@media screen and (max-width: 550px){
	.intermotors{
		font-size: 3.9rem;
	}
}

.social_networks{
	display: flex;
	flex-direction: column;
	width: 20px;
	height: 100px;
	font-size: 14px;
	margin-top: 90px;

}

.social_networks .network_icon{
 transition: all 0.3s ease-in;
 animation-name: icon;
 animation-duration: 3s;
}

.social_networks .network_icon:hover{
  scale: 1.2;
}


.slider_header{
  animation-name: header;
  animation-duration: 2s;
}

.slider_text{
	animation-name: text;
    animation-duration: 3s;
}

@keyframes intermotors{
  0%   {top:-200px;}
  50% {scale: 1.03; transition: 'all 0.3s ease-in'}
  60% { top:200px;}
}

@keyframes header{
  0%   {color:white; transform: translateY(-200px) ; position: relative;}
  50% {color: #6B9640; }
  100% {color:#6B9640; transform: translateY(0px);}
}

@keyframes text{  
  0%   {color:white; transform: translateY(-200px) ; position: relative;}
  100% { transform: translateY(0px);}
}

@keyframes button{  
             0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-12px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-5px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

@keyframes icon{  
        0%   {color:white; transform: translateX(-200px) ; position: relative;}
		70% {color: #6B9640; scale: 1.2; transition: 'all 0.3s ease-in' }
		100% {color:#6B9640; transform: translateX(0px);}
}




